.btn {
    background-color: #00ff2a;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: black;
}

.btn:hover {
    background-color: #aff179;
}

.btn:active {
    background-color: #00ff40;
}
